* {
  background-color: gray;
  color: white;
}
div {
  width: 100vw;
  height: 40vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs{
  gap: 5px;
}
.box-button {
  flex-direction: row;
  gap: 5px;
}
button{
  background-color: blueviolet;
  border-style:dashed;
  width: 2vw;
  border-color: rgba(51, 51, 51, 0.801);
}
input{
  border-style: groove;
  background-color: rgba(163, 162, 162, 0.698);
}
